
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'gabarito',sans-serif;
   
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
     border-bottom: solid black 1px;
     position: sticky;
     top: 0;
     background-color: white;
     z-index: 1;

}
.navbar_s1{
    color: purple;
}
.navbar_s2 input{
    border: none;
    width: 100%;
    font-size: 15px;
   
}
.navbar_s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
}
.navbar_s2 input:focus{
    outline: none;
}
.navbar_s3{
    display: flex;
    gap: 10px;
}
.navbar_s4{
   display:none;
}
/*my learning */
.mylearning{
   position: relative;
   cursor: pointer;

}
.mylearning__popup{
position:absolute;
background-color: white;
border:solid black 2px;
width: 100px;
top: 150%;
padding: 20px;
right: 0;
display: none;
}
.mylearning:hover .mylearning__popup{
   display: block;
}
.categories{
    display: flex;
    border-bottom: 1px solid black;
    padding: 10px;
    justify-content: space-around;
    
}
.categories p{
    background-color: purple;
    color: white;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    border: solid purple 2px;
}
.categories p:hover{
   transition: 1s;
   background-color: transparent;
   color: purple;
   border: solid purple 2px;
}

.sale_image{
   position: relative;
   width: 100%;
}
.saleimage__offer{
   border: solid black 2px;
   border-bottom: 10px;
  
   padding: 10px;
   background-color: white;
   width:35%;
   position: absolute;
  
   top: 200px;
   left: 50px;
   animation-name: zoom;
   animation-duration: 2s;
   opacity: 0;
   animation-fill-mode: forwards;
   transform-origin: top left;
   


}
@keyframes zoom{
   0%{
      transform: scale(0);
      opacity: 0;

   }
   100%{
      transform: scale(1);
      opacity: 1;

   }
}

 .sale_image img{
    width:100%;
    
 }
 .recommended{
    padding: 10px;


 }
 .recommended__container{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
   

 }
 .course_card{

   flex-grow: 1;
   flex-basis: 20%;

   margin: 5px;
  
  
  
   

 }
 .course_card img{
    width: 100%;
    height: 50%;
 }
 .topics{
    padding: 10px;
 }
 .topics__container{
    display: flex;
    padding: 10px;
    gap: 10px;
    margin-top: 10PX;
    flex-wrap: wrap;
    
 }
 .topics__container p{
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;

 }

 .popular{
    padding: 10px;
    
 }
 .popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
 }
 .footer{
    padding: 30px;
    background-color: black;
    color: white
 }
 .footer__one{
    display: flex;
    gap: 10px;
 }
 .footer__one p{
    margin: 20px;
 }
    
 .footer__two{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
 }
@media screen and (max-width:800px) {
   body{
      font-size: 10px;
   }
   

}
@media screen and (max-width:600px) {
   .course_card{
      flex-basis: 40%;
   }
   .categories{
      display: none;
   }
   .sale_image{
      flex-basis: 40%;
   }
   .navbar_s2,.navbar_s3{
      display: none;

   }
   .saleimage__offer{
     top: 10px;
     width: 25%;
    
  
   }  
   .navbar_s4{
      display: block;
      
   }
}
